package com.zhoulei.service;

import java.util.List;

import com.zhoulei.pojo.User;

public interface UserService {

	User checkUserLoginService(String uname,String pwd);

	int userChangePwdService(String newPwd, int uid);

	List<User> userShowService();

	int userReg(User u); 
}
